* {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2, p {
  margin: 0;
}

.container {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  min-height: 90vh;
  position: relative;
}

.block:nth-child(2) {
  flex-grow: 3;
}

.block {
  background: rgb(187, 187, 187);
  border: 3px black solid;
  border-radius: 1rem;
  flex: 1;
  font-size: 32px;
  padding: 1rem;
}

.categories li {
  cursor: pointer;
  padding: 1rem;
  border-radius: 0.5rem;
}

.categories li:hover {
  background: gray;
  color: white;
}

.products {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.product {
  padding: 1rem;
  border: 2px black solid;
  border-radius: 1rem;
  cursor: pointer;
}

.product:hover {
  background: gray;
  color: white;
}

.product img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.product h2 {
  font-size: 20px;
}

.product p {
  font-size: 14px;
  opacity: 0.5;
}

.product > * {
  pointer-events: none;
}

.cart .product > *{
  pointer-events: all;
}

.btn, 
input[type=submit], 
.orders-btn {
  padding: 1rem;
  font-size: 20px;
  width: 100%;
  border-radius: 1rem;
  border: 2px solid black;
  background: #0ea50e;
  color: white;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:active, 
input[type=submit]:active, 
.orders-btn:active {
  background: rgb(5, 105, 5);
  transform: scale(0.98);
}

.notification {
  padding: 2rem;
  border-radius: 1rem;
  font-size: 25px;
  font-weight: bold;
  color: rgb(12, 58, 12);
  background: rgb(103, 154, 103);
  display: none;
  width: 96%;
  position: absolute;
  top: -5rem;
}

dialog {
  width: 25vw;
  height: min-content;
  font-size: 20px;
  background: rgb(187, 187, 187);
  border-radius: 1rem;
}

dialog::backdrop {
  background-color: black;
  opacity: 0.5;
}

.input {
  width: 100%;
}

.input:last-child {
  margin-bottom: 0;
}

.input > * {
  display: block;
}

input, select, label {
  cursor: pointer;
}

input:focus, select:focus {
  outline: none;
}

input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}

select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}

.radio-wrapper {
  display: flex;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background: white;
}

.input-radio label {
  font-size: 15px;
}

.input-radio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-radio input {
  width: initial;
}

textarea {
  width: 100%;
  min-height: 15ch;
  max-height: 30ch;
  resize: vertical;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 2px solid black;
}

textarea:focus {
  outline: none;
}

.required::after {
  content: '*';
  position: relative;
  left: 0.2rem;
  color: red;
}

.error-message {
  font-size: 12px;
  margin: 3px 0 0 7px;
  height: 12px;
}

table {
  background-color: rgb(187, 187, 187);
  border: 2px black solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

td {
  border: 2px black solid;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: white;
}

.product-price {
  font-size: 16px;
}

.product-price::after {
  content: 'грн.';
  position: relative;
  left: 0.2rem;
}

hr {
  border-top: 2px solid black;
  border-radius: 0.5rem;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.order {
  max-height: fit-content;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.order-expand {
  max-height: fit-content !important;
}

.order-info {
  padding: 0.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  background-color: white;
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.order-info span {
  pointer-events: none;
  border: 2px solid black;
  padding: 0.2rem;
  border-radius: 0.5rem;
  background: #cdcdcd;
}

.order-table > * {
  width: 100%;
}

.is-hidden {
  display: none;
}

.delete-btn {
  margin-left: auto;
  background-color: rgb(171, 22, 22);
  padding: 0.5rem;
  font-size: 20px;
  border-radius: 0.5rem;
  border: 2px solid black;
  color: white;
  cursor: pointer;
}

.delete-btn:active {
  background-color: rgb(130, 17, 17);
  transform: scale(0.98);
}